


.legalPages {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.backIcon {
  font-size: 2.5rem;
  color: var(--dark-color);
  transition: all 0.3s ease; /* Afegeix una transició suau a tots els canvis */
}

.backIcon:hover {
  color: var(--secondary-color);
  margin-left: -5px;
}

.legalPages p {
    text-align: justify;
}

