.progressBar {
  background-color: var(--primary-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.progress {
  height: 13vmin;
  background-color: var(--secondary-color);
  transition: width 4s ease-in-out;
}

.progress:hover {
  box-shadow: 0 0 10px var(--secondary-color) !important;
 }

