.headerLifespan {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Header.module.css */

.dropdownButton {
  color: var(--dark-color) !important;
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}

.dropdownButton:hover {
  color: var(--dark-color) !important;
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}