.footerContainer {
    background-color: var(--dark-color);
}

.footerLinks h6 a {
    color: var(--light-color);
    text-decoration: none;
}

.footerLinks h6 a:hover {
    text-decoration: underline;
}

.customHr {
    border-top: 2px solid var(--light-color);
}

.copyrightRow {
    height: 70px;
    background-color: var(--dark-color);
}

.socialIcons a {
    color: var(--light-color);
    margin-right: 20px; /* Espai entre les icones */
    transition: all .2s ease-in-out
}

.socialIcons a:hover {
    color: var(--secondary-color);
}

footer span  {
    color: var(--light-color) !important;
}

p {
    color: var(--light-color) !important;
}
