


.legalPages {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.legalPages p {
    text-align: justify;
}

/* Estil específic per a l'acordió */
.acordioCustom button{
  background-color: var(--light-color) !important;  /* vermell per a fons */
}
