/* styles.css */
nav {
  box-shadow: 0 0 10px #00000033 !important;
}

.navIcon svg {
  font-size: 1.5rem; /* Augmentar la mida dels icones */
  color: var(--dark-color); /* Color dark */
}

.menuIcon svg {
  color: var(--dark-color); /* Color dark */
}

span {
  color: var(--dark-color); /* Color dark */
}

.navLink {
  color: var(--dark-color) !important; /* Color dark */
}

.dropdownToggle::after {
  display: none !important;
}

.dropdownMenu {
  max-width: 100vw; /* Ensure it stays within the viewport width */
  overflow-x: auto; /* Allow horizontal scrolling if necessary */
  will-change: transform;
  transform: translate3d(0, 0, 0);
  z-index: 3 !important; /* Ensure it is above the progress bar */
}

/* Ensure the dropdown is shown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Override any margin settings */
}
