.smallNavbar {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  height: 70px;
}

.smallNavItems .nav-link {
  font-size: 0.875rem; /* Més petit */
  padding: 0.5rem; /* Més petit */
}

.smallNavItems .nav-link svg {
  font-size: 1.25rem; /* Més petit */
}

nav {
  box-shadow: 0 0 10px #00000033 !important;
}

.navIcon svg {
  font-size: 1.5rem; /* Augmentar la mida dels icones */
  color: #343a40; /* Color dark */
}
